First, we need start SparkSession

# Create SparkSession

In [1]:
from pyspark.sql import SparkSession

In [2]:
app_name = "BasicOperations"
spark = SparkSession.builder.appName(app_name).getOrCreate()

# List of input corpus

In [3]:
!ls "input_data"

appl_stock.csv	ContainsNull.csv  people.json  sales_info.csv

# Read data

Sample data in "people.json" is described as follows:

```
{"name":"Michael"}
{"name":"Andy", "age":30}
{"name":"Justin", "age":19}
```

In [111]:
dir_input_data_path = "./input_data/"
file_input_path = dir_input_data_path + "people.json"
df = spark.read.json(file_input_path)

# Overview input corpus

We take a look into input data

## Review data in DataFrame

In [112]:
df.dtypes

[('age', 'bigint'), ('name', 'string')]

In [113]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [ ]:
print(dir(df))

In [114]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [ ]:
df.head(1)[0]

## Show Schema of DataFrame

In [115]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

## Show the column-names

In [ ]:
df.columns

## Get Summary and Description of DataFrame

In [116]:
df.summary

In [ ]:
df.describe

# Define the Input Schema and Load Corpus

In [117]:
from pyspark.sql.types import (StructField, StructType, StringType, IntegerType)

In [118]:
data_schema = [
    StructField(name="age", dataType=IntegerType(), nullable=True, metadata=None),
    StructField(name="name", dataType=StringType(), nullable=True, metadata=None)
]

struct_type = StructType(fields=data_schema)

In [119]:
df = spark.read.json(file_input_path, schema=struct_type)

In [ ]:
df.show()

In [120]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# View data in given column

In [121]:
df.select(["age"])

DataFrame[age: int]

In [122]:
df.select(["age"]).show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [123]:
df.select(["age", "name"]).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Types of Data Column, Data Row and Others

In [124]:
df["age"]

Column<b'age'>

In [125]:
type(df["age"])

pyspark.sql.column.Column

In [ ]:
df.head(2)[0]

In [ ]:
type(df.head(2)[0])

In [ ]:
type(df.select(["age"]))

# Change name of column

In [126]:
old_name = "age"
new_name = "Age (years old)"
df.withColumnRenamed(old_name, new_name).show()

+---------------+-------+
|Age (years old)|   name|
+---------------+-------+
|           null|Michael|
|             30|   Andy|
|             19| Justin|
+---------------+-------+

# Get New Column based on Calculating from Old Column

In [127]:
df.withColumn(new_name, df[old_name] * 2).show()

+----+-------+---------------+
| age|   name|Age (years old)|
+----+-------+---------------+
|null|Michael|           null|
|  30|   Andy|             60|
|  19| Justin|             38|
+----+-------+---------------+

# Using SQL query to Retrieve

In [128]:
# Register the DataFrame as a SQL temporary
df.createOrReplaceTempView("people")

In [129]:
result = spark.sql("Select * From people")

In [130]:
result

DataFrame[age: int, name: string]

In [131]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Convert to DataFrame

In [133]:
df.toDF("Age", "Name").show()

+----+-------+
| Age|   Name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# DataFrame Row

## Select Row based on the condition

In [135]:
result = df.filter(df["age"]==30)

In [138]:
result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [139]:
type(result)

pyspark.sql.dataframe.DataFrame

In [145]:
row = result.head(1)

In [148]:
dict(row)

{30: 'Andy'}

# Load Corpus "appl_stock.csv"

In [32]:
file_input_path = dir_input_data_path + "appl_stock.csv"

## Sample Data

Date,Open,High,Low,Close,Volume,Adj Close
2010-01-04,213.429998,214.499996,212.38000099999996,214.009998,123432400,27.727039
2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.774976000000002

In [33]:
df = spark.read.csv(file_input_path, inferSchema=True, header=True)

## Review Input Corpus

In [34]:
df.head(2)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date=datetime.datetime(2010, 1, 5, 0, 0), Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002)]

In [35]:
df.show(2)

+-------------------+----------+----------+------------------+----------+---------+------------------+
|               Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|
+-------------------+----------+----------+------------------+----------+---------+------------------+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|
+-------------------+----------+----------+------------------+----------+---------+------------------+
only showing top 2 rows

## Show Schema

In [36]:
df.printSchema

## Filter with Given Condition

### Condition in String

In [37]:
df.filter("Close<500").show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [38]:
df.filter("Close<500").select(["Open", "Close"]).show()

+------------------+------------------+
|              Open|             Close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
|        208.330002|        215.039995|
|        214.910006|            211.73|
|        212.079994|        208.069996|
|206.78000600000001|            197.75|
|202.51000200000001|        203.070002|
|205.95000100000001|        205.940001|
|        206.849995|        207.880005|
|        204.930004|        199.289995|
|        201.079996|        192.060003|
|192.36999699999998|        194.729998|
+------------------+------------------+
only showing top 20 rows

### Condition with DataFrame Column

In [39]:
df.filter(df["Close"]<500).select(["Open", "Close"]).show()

+------------------+------------------+
|              Open|             Close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
|        208.330002|        215.039995|
|        214.910006|            211.73|
|        212.079994|        208.069996|
|206.78000600000001|            197.75|
|202.51000200000001|        203.070002|
|205.95000100000001|        205.940001|
|        206.849995|        207.880005|
|        204.930004|        199.289995|
|        201.079996|        192.060003|
|192.36999699999998|        194.729998|
+------------------+------------------+
only showing top 20 rows

### Error Occurs when not using brackets

```
df.filter(df["Close"]<200 & df["Open"]>200).show()
```

Py4JError: An error occurred while calling o365.and. Trace:
py4j.Py4JException: Method and([class java.lang.Integer]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)

### Conditions with multi-operations

#### AND

In [40]:
df.filter((df["Close"]<200) & (df["Open"]>200)).show()

+-------------------+------------------+----------+----------+----------+---------+------------------+
|               Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+-------------------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28 00:00:00|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+-------------------+------------------+----------+----------+----------+---------+------------------+

#### NOT

In [41]:
df.filter((df["Close"]<200) & ~(df["Open"]>200)).show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
|2010-02-02 00:00:00|        195.909998|        196.319994|193.37999299999998|        195.859997|174585600|25.375532999999997|
|2010-02-03 00:00:00|        195.169994|        200.200003|        194.420004|        199.229994|153832000|25.812148999999998|
|2010-02-04 00:00:00|        196.730003|        198.370001|        191.570005|        192.050003|189413000|         24.881912|
|2010-02-05 00:00:00|192.63000300000002|             196.0|        190.850002|        195.460001|212576700|25.323710000000002|
|2010-02-08 00:00:00|        195.690006|197.88000300000002|        193.999994|194.11999699999998|119567700|           25.1501|
|2010-02-09 00:00:00|        196.419996|        197.499994|        194.749998|196.19000400000002|158221700|         25.418289|
|2010-02-10 00:00:00|        195.889997|             196.6|            194.26|195.12000700000002| 92590400|          25.27966|
|2010-02-11 00:00:00|        194.880001|        199.750006|194.05999599999998|        198.669994|137586400|         25.739595|
|2010-02-23 00:00:00|        199.999998|        201.330002|        195.709993|        197.059998|143773700|         25.531005|
|2014-06-09 00:00:00|         92.699997|         93.879997|             91.75|         93.699997| 75415000|         88.906324|
|2014-06-10 00:00:00|         94.730003|         95.050003|             93.57|             94.25| 62777000|         89.428189|
|2014-06-11 00:00:00|         94.129997|         94.760002|         93.470001|         93.860001| 45681000|         89.058142|
|2014-06-12 00:00:00|         94.040001|         94.120003|         91.900002|         92.290001| 54749000|         87.568463|
|2014-06-13 00:00:00|         92.199997|         92.440002|         90.879997|         91.279999| 54525000|         86.610132|
|2014-06-16 00:00:00|         91.510002|             92.75|         91.449997|         92.199997| 35561000|         87.483064|
|2014-06-17 00:00:00|         92.309998|         92.699997|         91.800003| 92.08000200000001| 29726000| 87.36920699999999|
|2014-06-18 00:00:00|         92.269997|         92.290001|         91.349998|             92.18| 33514000|          87.46409|
|2014-06-19 00:00:00|         92.290001|         92.300003|         91.339996|         91.860001| 35528000|         87.160461|
|2014-06-20 00:00:00|         91.849998|         92.550003|         90.900002|         90.910004|100898000|         86.259066|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

#### EQUAL

In [42]:
df.filter(df["low"]==93.57).show()

+-------------------+---------+---------+-----+---------+--------+-----------------+
|               Date|     Open|     High|  Low|    Close|  Volume|        Adj Close|
+-------------------+---------+---------+-----+---------+--------+-----------------+
|2014-06-10 00:00:00|94.730003|95.050003|93.57|    94.25|62777000|        89.428189|
|2016-05-19 00:00:00|94.639999|94.639999|93.57|94.199997|30442100|92.81147299999999|
+-------------------+---------+---------+-----+---------+--------+-----------------+

### Convert to Dictionary

In [43]:
result = df.filter(df["low"]==93.57)

In [44]:
result.show()

+-------------------+---------+---------+-----+---------+--------+-----------------+
|               Date|     Open|     High|  Low|    Close|  Volume|        Adj Close|
+-------------------+---------+---------+-----+---------+--------+-----------------+
|2014-06-10 00:00:00|94.730003|95.050003|93.57|    94.25|62777000|        89.428189|
|2016-05-19 00:00:00|94.639999|94.639999|93.57|94.199997|30442100|92.81147299999999|
+-------------------+---------+---------+-----+---------+--------+-----------------+

In [45]:
result.head(1)

[Row(Date=datetime.datetime(2014, 6, 10, 0, 0), Open=94.730003, High=95.050003, Low=93.57, Close=94.25, Volume=62777000, Adj Close=89.428189)]

# Load Corpus "sales_info.csv"

## Sample Data

```
Company,Person,Sales
GOOG,Sam,200
GOOG,Charlie,120
GOOG,Frank,340
MSFT,Tina,600
MSFT,Amy,124
```

In [46]:
file_input_path = dir_input_data_path + "sales_info.csv"

In [47]:
df = spark.read.csv(file_input_path, inferSchema=True, header=True)

## Show Schema

In [48]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

## GroupBy

In [49]:
df.groupBy("Company")

## GroupBy and Count

In [50]:
df.groupBy("Company").count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [51]:
df.agg({"Sales": "sum"}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

## Supported Functions in Spark

In [52]:
from pyspark.sql.functions import countDistinct, avg, stddev, format_number

## Show Distinct Values

In [53]:
df.select(countDistinct("Company")).show()

+-----------------------+
|count(DISTINCT Company)|
+-----------------------+
|                      4|
+-----------------------+

## Get Average of Sales

In [54]:
df.select(avg("Sales")).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

## Alias of Column Name

In [55]:
df.select(avg("Sales").alias("Average of Sales")).show()

+-----------------+
| Average of Sales|
+-----------------+
|360.5833333333333|
+-----------------+

## Standard Deviation

In [56]:
std = df.select(stddev("Sales").alias("std"))

In [57]:
std.show()

+------------------+
|               std|
+------------------+
|250.08742410799007|
+------------------+

In [58]:
std.select(format_number("std", 2)).show()

+---------------------+
|format_number(std, 2)|
+---------------------+
|               250.09|
+---------------------+

## Order By

### Ascending

In [59]:
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

### Descending

In [60]:
df.orderBy(df["Sales"].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

## Groupby, Sum, OrderBy

### Accending

In [61]:
df.groupBy("Company").sum().orderBy("sum(Sales)").show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   GOOG|     660.0|
|   MSFT|     967.0|
|     FB|    1220.0|
|   APPL|    1480.0|
+-------+----------+

### Descending

In [62]:
df_sum = df.groupBy("company").sum()

In [63]:
df_sum.printSchema()

root
 |-- company: string (nullable = true)
 |-- sum(Sales): double (nullable = true)

In [64]:
df_sum.orderBy(df_sum["sum(Sales)"].desc()).show()

+-------+----------+
|company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|     FB|    1220.0|
|   MSFT|     967.0|
|   GOOG|     660.0|
+-------+----------+

# Load Corpus "ContainsNull.csv"

## Sample Data

```
Id,Name,Sales
emp1,John,
emp2,,
emp3,,345.0
emp4,Cindy,456.0
```

In [65]:
file_input_path = dir_input_data_path + "ContainsNull.csv"
df = spark.read.csv(file_input_path, header=True, inferSchema=True)

In [66]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [67]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

## Drop NULL Row If Containing Any NULL Value

In [68]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [69]:
df.na.drop(how="any").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

## Drop If >= 2 Cells NULL Values

In [70]:
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

## Drop If All are NULL Value

In [71]:
df.na.drop(how="all").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

## Drop based on Subset of Columns

### Drop If Any Cells in Given Columns are NULL

In [72]:
df.na.drop(subset=["Name", "Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [73]:
df.na.drop(subset=["Name"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp4|Cindy|456.0|
+----+-----+-----+

## Fill Value for NULL cells

### Fill Value for Right Columns (String)

In [74]:
df.na.fill("Fill Value").show()

+----+----------+-----+
|  Id|      Name|Sales|
+----+----------+-----+
|emp1|      John| null|
|emp2|Fill Value| null|
|emp3|Fill Value|345.0|
|emp4|     Cindy|456.0|
+----+----------+-----+

In [75]:
df.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

### Fill for Given subset Columns

In [76]:
df.na.fill(value="No Name", subset=["Name"]).show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|No Name| null|
|emp3|No Name|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

### Fill Average Value for NULL Sales

In [77]:
from pyspark.sql.functions import mean

In [78]:
mean_val = df.select(mean(df["Sales"]))

In [79]:
mean_val.show()

+----------+
|avg(Sales)|
+----------+
|     400.5|
+----------+

In [80]:
mean_val = mean_val.head(1)[0][0]

In [81]:
mean_val

400.5

In [82]:
df.na.fill(value=mean_val, subset=["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

### Get Average Value of Sales

#### Method 1

In [83]:
df.select(mean(df["Sales"])).show()

+----------+
|avg(Sales)|
+----------+
|     400.5|
+----------+

#### Method 2

In [84]:
df.select(avg("Sales")).head(1)[0][0]

400.5

### Get Value Cell ???

In [101]:
avg_sales = df.select(avg("Sales"))

# Load Corpus "appl_stock.csv"

### Sample Data

```
Date,Open,High,Low,Close,Volume,Adj Close
2010-01-04,213.429998,214.499996,212.38000099999996,214.009998,123432400,27.727039
2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.774976000000002
```

In [151]:
file_input_path = dir_input_data_path + "appl_stock.csv"

In [152]:
df = spark.read.csv(file_input_path, header=True, inferSchema=True)

In [153]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [154]:
df.show(2)

+-------------------+----------+----------+------------------+----------+---------+------------------+
|               Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|
+-------------------+----------+----------+------------------+----------+---------+------------------+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|
+-------------------+----------+----------+------------------+----------+---------+------------------+
only showing top 2 rows

In [157]:
df.dtypes

[('Date', 'timestamp'),
 ('Open', 'double'),
 ('High', 'double'),
 ('Low', 'double'),
 ('Close', 'double'),
 ('Volume', 'int'),
 ('Adj Close', 'double')]

In [158]:
df.select(["Date", "Open"]).show()

+-------------------+------------------+
|               Date|              Open|
+-------------------+------------------+
|2010-01-04 00:00:00|        213.429998|
|2010-01-05 00:00:00|        214.599998|
|2010-01-06 00:00:00|        214.379993|
|2010-01-07 00:00:00|            211.75|
|2010-01-08 00:00:00|        210.299994|
|2010-01-11 00:00:00|212.79999700000002|
|2010-01-12 00:00:00|209.18999499999998|
|2010-01-13 00:00:00|        207.870005|
|2010-01-14 00:00:00|210.11000299999998|
|2010-01-15 00:00:00|210.92999500000002|
|2010-01-19 00:00:00|        208.330002|
|2010-01-20 00:00:00|        214.910006|
|2010-01-21 00:00:00|        212.079994|
|2010-01-22 00:00:00|206.78000600000001|
|2010-01-25 00:00:00|202.51000200000001|
|2010-01-26 00:00:00|205.95000100000001|
|2010-01-27 00:00:00|        206.849995|
|2010-01-28 00:00:00|        204.930004|
|2010-01-29 00:00:00|        201.079996|
|2010-02-01 00:00:00|192.36999699999998|
+-------------------+------------------+
only showing top 20 rows

## Supported Functions for Dates and Timestamp

In [161]:
from pyspark.sql.functions import (
    dayofmonth, dayofweek, dayofyear,
    weekofyear, 
    hour, month, year,
    date_format,
    format_number, format_string,
)

## Day of Month

In [160]:
df.select(dayofmonth(df["Date"])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

## Year

In [163]:
new_df = df.withColumn("Year", year(df["Date"]))

In [164]:
new_df.show(2)

+-------------------+----------+----------+------------------+----------+---------+------------------+----+
|               Date|      Open|      High|               Low|     Close|   Volume|         Adj Close|Year|
+-------------------+----------+----------+------------------+----------+---------+------------------+----+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|214.009998|123432400|         27.727039|2010|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|214.379993|150476200|27.774976000000002|2010|
+-------------------+----------+----------+------------------+----------+---------+------------------+----+
only showing top 2 rows

In [166]:
mean_df = new_df.groupBy("Year").mean()

In [168]:
mean_df.show(1)

+----+------------------+------------------+-----------------+------------------+------------------+------------------+---------+
|Year|         avg(Open)|         avg(High)|         avg(Low)|        avg(Close)|       avg(Volume)|    avg(Adj Close)|avg(Year)|
+----+------------------+------------------+-----------------+------------------+------------------+------------------+---------+
|2015|120.17575393253965|121.24452385714291|118.8630954325397|120.03999980555547|5.18378869047619E7|115.96740080555561|   2015.0|
+----+------------------+------------------+-----------------+------------------+------------------+------------------+---------+
only showing top 1 row

In [169]:
mean_df.select(["Year", "avg(Close)"]).show(2)

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2015|120.03999980555547|
|2013| 472.6348802857143|
+----+------------------+
only showing top 2 rows

In [171]:
result = mean_df.select(["Year", "avg(Close)"]).withColumnRenamed("avg(Close)", "Average Closing Price")

In [172]:
result.show(2)

+----+---------------------+
|Year|Average Closing Price|
+----+---------------------+
|2015|   120.03999980555547|
|2013|    472.6348802857143|
+----+---------------------+
only showing top 2 rows

In [175]:
result.select(["Year", format_number("Average Closing Price", 2).alias("Avg Closing")]).show(2)

+----+-----------+
|Year|Avg Closing|
+----+-----------+
|2015|     120.04|
|2013|     472.63|
+----+-----------+
only showing top 2 rows

Question:

1. How to get value in cell? in row?